<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
		<!-- CSS Plugins -->
       
		
		<link rel="stylesheet" href="resources/recursos/css/plugins/bootstrap.min.css">
		<link rel="stylesheet" href="resources/recursos/css/plugins/font-awesome.css">
		<link rel="stylesheet" href="resources/recursos/css/plugins/magnific-popup.css">
		<link rel="stylesheet" href="resources/recursos/css/plugins/simplebar.css">
		<link rel="stylesheet" href="resources/recursos/css/plugins/owl.carousel.min.css">
		<link rel="stylesheet" href="resources/recursos/css/plugins/owl.theme.default.min.css">
		<link rel="stylesheet" href="resources/recursos/css/plugins/jquery.animatedheadline.css">
					<!-- CSS Base -->
					<link rel="stylesheet" class="back-color" href="resources/recursos/css/style-dark.css">
					<link rel="stylesheet" class="back-color" href="resources/recursos/css/styles.css">
					<link rel="stylesheet" href="resources/recursos/css/style-demo.css">
					<link rel="stylesheet" href="resources/recursos/css/tiempo.css">
		
</head>
<body>
	 
			<!-- Contact Section -->
			<div class="page pt-contact" data-simplebar>
            	<section class="container">
					
					<!-- Section Title -->
              		<div class="header-page mt-70 mob-mt">
						<h2>Contacto</h2>
    					<span></span>
					</div>
					
					<!-- Form Start -->
					<div class="row mt-100">
						<div class="col-lg-12 col-sm-12">
							<div class="contact-form ">
                        		<form method="post" class="box contact-valid" id="contact-form" action="mail.php">
									<div class="row">
                            			<div class="col-lg-6 col-sm-12">
                                			<input type="text" name="name" id="name" class="form-control" placeholder="Name *">
                            			</div>
                            			<div class="col-lg-6 col-sm-12">
                                			<input type="email" name="email" id="email" class="form-control" placeholder="Email *">
                            			</div>
                            			<div class="col-lg-12 col-sm-12">
                                			<textarea class="form-control" name="note"  id="note" placeholder="Your Message"></textarea>
                            			</div>
                             			<div class="col-lg-12 col-sm-12 text-center">
                                			<button type="submit" class="btn-st">Enviar Mensage</button>
                                			<div id="loader">
                                    			<i class="fas fa-sync"></i>
                                			</div>
                            			</div>
										<div class="col-lg-12 col-sm-12">
                            				<div class="error-messages">
                                				<div id="success">
													<i class="far fa-times-circle"></i>OCURRIO UN ERROR INTENTA MAS TARDE.
													
												</div>
                                				<div id="error">
													<i class="far fa-check-circle"></i>SU MENSAJE FUE ENVIADO EXITOSAMENTE.
												</div>
											</div>
                            			</div>
									</div>
                    			</form>
                    		</div>
						</div>
					</div>
					
					<!-- Contact Info -->
					<div class="box contact-info">
						<div class="row">
							<div class="col-lg-4 col-sm-12 info">
								<i class="fas fa-paper-plane"></i>
         						<p>matlopez10@gmail.com</p>
          						<span>Email</span>
							</div>
							<div class="col-lg-4 col-sm-12 info">
								<i class="fas fa-map-marker-alt"></i>
         						<p>123 CORDOBA, ARG</p>
          						<span>CAPITAL</span>
							</div>	
							<div class="col-lg-4 col-sm-12 info">
								<i class="fas fa-phone"></i>
         						<p>(+54) 123 456 7890</p>
          						<span>TELEFONO</span>
							</div>	
						</div>
					</div>
					
					
            	</section>
          	</div> 
			  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
			  <!-- All Script -->
			  <script src="resources/recursos/js/tiempo.js"></script>
			  <script src="resources/recursos/js/alert2.js"></script>
			  <script src="resources/recursos/js/jquery.min.js"></script>
			  <script src="resources/recursos/js/isotope.pkgd.min.js"></script>
			  <script src="resources/recursos/js/bootstrap.min.js"></script>
			  <script src="resources/recursos/js/simplebar.js"></script>
			  <script src="resources/recursos/js/owl.carousel.min.js"></script>
			  <script src="resources/recursos/js/jquery.magnific-popup.min.js"></script>
			  <script src="resources/recursos/js/jquery.animatedheadline.min.js"></script>
			  <script src="resources/recursos/js/jquery.easypiechart.js"></script>
			  <script src="resources/recursos/js/jquery.validation.js"></script>
			  <script src="resources/recursos/js/tilt.js"></script>
			  <script src="resources/recursos/js/main.js"></script>
			  <script src="resources/recursos/js/main-demo.js"></script>
			 
</body>
</html>