<!DOCTYPE html>
<html lang="en">
    
<head>
		
		<!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<!-- Title -->
		<title>--- TETRIS---</title>

		<!-- CSS Plugins -->
        <link rel="stylesheet" href="resources/recursos/css/plugins/bootstrap.min.css">
        <link rel="stylesheet" href="resources/recursos/css/plugins/font-awesome.css">
	<link rel="stylesheet" href="resources/recursos/css/plugins/magnific-popup.css">
	<link rel="stylesheet" href="resources/recursos/css/plugins/simplebar.css">
	<link rel="stylesheet" href="resources/recursos/css/plugins/owl.carousel.min.css">
	<link rel="stylesheet" href="resources/recursos/css/plugins/owl.theme.default.min.css">
	<link rel="stylesheet" href="resources/recursos/css/plugins/jquery.animatedheadline.css">
		
		<!-- CSS Base -->
        <link rel="stylesheet" class="back-color" href="resources/recursos/css/style-dark.css">
	    <link rel="stylesheet" href="resources/recursos/css/style-demo.css">
		
	<!-- Settings Style -->
	<link rel="stylesheet" class="posit-nav" href="resources/recursos/css/settings/left-nav.css" />
	<link rel="stylesheet" class="theme-color" href="resources/recursos/css/settings/green-color.css" />
		
    </head>
    <body>
		
  
		<!-- PreCargado -->
<div id="preloader">
  <div class="loading-area">
  <div class="circle"></div>
  </div>
  <div class="left-side"></div>
  <div class="right-side"
        
  ></div>
		</div>
		
	<!-- Main Site -->
	<div id="home">
  	<div id="Jugar">
     	<div id="Ajustes">
        <div id="blog">
	<div id="contact">
			
	<div class="header-mobile">
                <a class="header-toggle"><i class="fas fa-bars"></i></a>
                
         </div>
			
			<!-- Left Block -->
<nav class="header-main" data-simplebar>
		
				<!-- Logo -->
<div class="logo">
     <img src="/resources/img/logotetris.jpg" alt="">
         </div>
         <h6 data-position="right">Usuario conectado: <strong><%= name %></strong></h6>
          <ul>
                              
		<li data-tooltip="Inicio" data-position="top">
                <a href="login" class="icon-h fas fa-house-damage"></a>
					</li>
		<li id="jugar" data-tooltip="Jugar" data-position="top">
                <a href="tetris" class="icon-a fas fa-user-tie"></a>
                
					</li>
				
		<li data-tooltip="Ajustes" data-position="top">
            	<a href="#portfolio" class="icon-p fas fa-briefcase"></a>
					</li>
		<li data-tooltip="Creditos" data-position="top">
            	<button type="button" onclick="" name="sobeNosotros" class="icon-b fas fa-receipt"></button>
					</li>
                <li data-tooltip="Registrate" data-position="top">
		<a href="register" class="icon-c fas fa-pencil-alt"></a>
					</li>
		<li data-tooltip="Contactos" data-position="top">
		<a href="#contact" class="icon-c fas fa-envelope"></a>
					</li>
                                 
				
    			
			 </nav>
      
			
	<!-- Home Section -->
 <div class="pt-home" style="background-image: url('resources/recursos/img/home-bg.jpg')">
             	<section>
					
		<!-- Banner -->
		<div class="banner">
  		<h1>Tetris</h1>
	<p class="cd-headline rotate-1">
		<span>On-line</span>
	<span class="cd-words-wrapper">
         <b class="is-visible">Con movimiento</b>
							<b>Efectos Visuales</b>
							<b>Multi Mapas</b>

              <li data-tooltip="login" data-position="top">
                <% if (login) { %>                
                                          
                  <a href="logout" class="a-logout">Logout</a>
              <%} else { %>
                  <h6><strong><%= name %></strong></h6>   
                  <a href="login" class="">Ir a Login</a>
              <% } %>
               </li>
								
		</span>
			</p>

      <br>
      
				</div>
					
					
			
		
		<!-- Login -->
		<div class="contenedor" >
            
            
          </div>
			  	</section>  
          	</div>
			
			
			
        </div>
      	</div>
    	</div>
  		</div>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

		<!-- All Script -->
    <script src="resources/public/js/alert2.js"></script>
		<script src="resources/recursos/js/jquery.min.js"></script>
		<script src="resources/js/isotope.pkgd.min.js"></script>
		<script src="resources/js/bootstrap.min.js"></script>
		<script src="resources/js/simplebar.js"></script>
		<script src="resources/js/owl.carousel.min.js"></script>
		<script src="resources/js/jquery.magnific-popup.min.js"></script>
		<script src="resources/js/jquery.animatedheadline.min.js"></script>
		<script src="resources/js/jquery.easypiechart.js"></script>
		<script src="resources/js/jquery.validation.js"></script>
		<script src="resources/js/tilt.js"></script>
        <script src="resources/js/main.js"></script>
		<script src="resources/js/main-demo.js"></script>
        
		
    </body>

</html>
